# Large data files
data/
*.csv

# Generated results
result/

# Jupyter auto-saves
.ipynb_checkpoints/
.csv

# Ignore HuggingFace training checkpoints
notebooks/roberta-amazon-sentiment/
models/roberta_finetuned/model.safetensors
*.safetensors
*.pt
*.bin

# Python cache
__pycache__/
*.pyc

# OS files
Thumbs.db
.DS_Store

# Virtual environments
ui_env/
venv/
env/
.venv/

# Environment variables
.env
.env.*

report/